:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-body: #1b0760;
  --color-headings: #918ca4;
}

/*links*/
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-body);
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px;
}

h1,
h2,
h3 {
  font-size: 7rem;
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
html {
  font-size: 62.5%;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* badges */
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
  white-space: nowrap;
  font-size: 2rem;
}
.badge--primary {
  background-color: var(--color-primary);
  color: azure;
}
.badge--secondary {
  background-color: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.2rem;
  }
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  background-color: rgb(181, 237, 247);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
